services:
  slides:
    image: ${slides_image}
    ports:
      - "23234:23234"
    #volumes:
      #- ./content/slides.md:/app/slides.md
  proxy:
    image: ${proxy_image}
    ports:
      - "2222:2222"
    environment:
      - TARGET_HOST=slides
      - TARGET_PORT=23234
      - LANG=C.UTF-8
      - TERM=xterm-256color
    